/* 
body,
html {
  min-height: 100%;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background: #fff;
}

.slideshow-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.slideshow-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.slideshow-feature {
  text-align: center;
}

.slideshow-title {
  font-size: 2.5rem;
  color: #000000;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 5px 15px;
}

.slideshow_btn-right,
.slideshow_btn-left {
  background: transparent;
  border: none;
  outline: none;
  font-size: 4rem;
  color: #fff;
  padding: 0 1rem;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn 0.5s;
}

ul {
  position: fixed;
  bottom: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

li {
  float: right;
}

li a {
  font-family: Anton;
  font-size: 18px;
  display: inline-block;
  color: #000000;
  text-align: center;
  padding: 5px 15px;
  text-decoration: none;
}

h1 {
  display: inline-block;
  background-color: #fff;
}
